<div class="card">
    <div class="row ">
        <div class="col-md-7 px-3">
            <div class="card-block px-6">
                <h4 class="card-title">{{quiz_label}}</h4>
                <p class="card-text">
                    {{quiz_description}}
                </p>
                <br>
                <a href="/quiz/{{quiz_id}}" class="mt-auto btn btn-success">Take Quiz</a>
                {{#admin}}
                <a href="/quiz/{{quiz_id}}/delete" class="mt-auto btn btn-danger">DELETE Quiz</a>
                {{/admin}}
            </div>
        </div>

    </div>
</div>
