<div class="card">
    <div class="row ">
        <div class="col-md-7 px-3">
            <div class="card-block px-6">
                <h4 class="card-title">{{quiz_label}}</h4>
                <p class="card-text">
                    {{user_id}}
                </p>
                <br>
                <a href="/quiz/{{quiz_id}}" class="mt-auto btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-5">
            <div id="Quiz" class="carousel slide" data-ride="carousel"">
                <ol class="carousel-indicators">
                    <li data-target="#Quiz" data-slide-to="0" class="active"></li>
                    <li data-target="#Quiz" data-slide-to="1" class=""></li>
                    {{#admin}}
                        <li data-target="#Quiz" data-slide-to="2" class=""></li>
                    {{/admin}}
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p class="bg-secondary text-light" style="height: 100%; width: 100%;">{{quiz_description}}</p>
                    </div>
                    <div class="carousel-item">
                    <p class="bg-secondary text-light" style="height: 100%; width: 100%;">LOLOLOLLOLOLOLOLOLLOLOLOL</p>
                    </div>
                    {{#admin}}
                    <div class="carousel-item">
                        <p class="bg-secondary text-light" style="height: 100%; width: 100%;"> ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN </p>
                    </div>
                    {{/admin}}
                    <a class="carousel-control-prev" href="#Quiz" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Quiz" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
