<html lang="en" wtx-context="8CE9F0EC-3347-49B7-AFA2-956C739E15B0">
<head>
    {{>header}}
</head>
<body id="body">
    {{>navbar}}
    <main role="main" class="container">
        <h2 class="text-secondary">{{date}}</h2>
        {{>loginform}}
    </main>
    {{>footer}}
</body>
</html>