<div class="container">
    <br>
    <h3>Fill in a username and password below</h3>
    <form role="form" action="/login">
        <input type="text" name="username" value="Username"><br>
        <input type="password" name="password" value="Password"><br><br>
        <input type="submit" value="Submit" formmethod="post">
    </form>
</div>