<html lang="en" wtx-context="8CE9F0EC-3347-49B7-AFA2-956C739E15B0">
<head>
    {{>header}}
</head>
<body id="body">
    {{>navbar}}

    <h1 class="text-dark" id="head" style="margin-left: 6%">Welcome to your Profile Page!</h1>
    <div style="margin-left: 10%; float: left; width: 100%">
        <h2 class="text-secondary;">Date here!!!!!</h2>
        <h2 class="text-secondary" style="float:right; margin-right: 20%">Quizzes complete X/X</h2>
        <h3 class="lead">{{username}}</h3>
        <p class="font-weight-bold">Basic example</p>
    </div>
    <div style="width: 60%; height: 70%; float: left; margin-left: 6%">
        <div class="overflow-hidden p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="width: 100%; height: 70%;">
            <h3 class="text-muted">Latest Quizzes</h3>
            <hr/>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row-reverse" style="float: right">
        <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 260px; max-height: 500px;">
        <h3 class="text-secondary">Recent Quiz Results</h3>
            <hr/>
            This is an example of using <code>.overflow-auto</code> on an element with set width and height dimensions. By
            design, this content will vertically scroll.            This is an example of using <code>.overflow-auto</code> on an element with set width and height dimensions. By
            design, this content will vertically scroll.            This is an example of using <code>.overflow-auto</code> on an element with set width and height dimensions. By
            design, this content will vertically scroll.            This is an example of using <code>.overflow-auto</code> on an element with set width and height dimensions. By
            design, this content will vertically scroll.            This is an example of using <code>.overflow-auto</code> on an element with set width and height dimensions. By
            design, this content will vertically scroll.
        </div>
    </div>
    {{>footer}}
</body>
</html>