<form role="form" action="/register">
    <input type="text" name="username" value="Username"><br>
    <input type="password" name="password" value="Password"><br><br>
    <input type="submit" value="Submit" formmethod="post">
</form>